USE [CNPM_QLNS]
GO
/****** Object:  Table [dbo].[BACLUONG]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACLUONG](
	[MABACLUONG] [bigint] IDENTITY(1,1) NOT NULL,
	[TENBACLUONG] [nvarchar](50) NULL,
 CONSTRAINT [PK_BACLUONG] PRIMARY KEY CLUSTERED 
(
	[MABACLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [bigint] NULL,
	[TENCV] [nvarchar](255) NULL,
	[HESOCV] [float] NULL,
	[GHICHU] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HESOLUONG]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HESOLUONG](
	[MAHSLUONG] [bigint] IDENTITY(1,1) NOT NULL,
	[MANGACHLUONG] [bigint] NULL,
	[MABACLUONG] [bigint] NULL,
	[HSLUONGNHANVIEN] [float] NULL,
 CONSTRAINT [PK_HESOLUONG] PRIMARY KEY CLUSTERED 
(
	[MAHSLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHENTHUONG]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHENTHUONG](
	[MAKT] [bigint] IDENTITY(1,1) NOT NULL,
	[MANV] [bigint] NOT NULL,
	[SOQUYETDINH] [varchar](50) NULL,
	[NGAYQUYETDINH] [datetime] NULL,
	[COQUANKT] [nvarchar](250) NULL,
	[HINHTHUCKT] [nvarchar](50) NULL,
	[LYDO] [nvarchar](250) NULL,
	[NGUOIKY] [nvarchar](250) NULL,
	[GHICHU] [nvarchar](250) NULL,
 CONSTRAINT [PK_KHENTHUONG] PRIMARY KEY CLUSTERED 
(
	[MAKT] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KYLUAT]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KYLUAT](
	[MAKL] [bigint] IDENTITY(1,1) NOT NULL,
	[MANV] [bigint] NOT NULL,
	[SOQUYETDINH] [varchar](50) NULL,
	[NGAYQUYETDINH] [datetime] NULL,
	[COQUANKL] [nvarchar](250) NULL,
	[HINHTHUCKL] [nvarchar](50) NULL,
	[LYDO] [nvarchar](250) NULL,
	[NGUOIKY] [nvarchar](250) NULL,
	[GHICHU] [nvarchar](250) NULL,
 CONSTRAINT [PK_KYLUAT] PRIMARY KEY CLUSTERED 
(
	[MAKL] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LUONGNHANVIEN]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONGNHANVIEN](
	[MALUONGNV] [bigint] NULL,
	[MANV] [bigint] NULL,
	[MAHSLUONG] [bigint] NULL,
	[LUONGCOBAN] [float] NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[LUONG] [float] NULL,
	[TIENBAOHIEM] [float] NULL,
	[DANGPHI] [float] NULL,
	[PHUPHI] [float] NULL,
	[NGAYNHANLUONG] [datetime] NULL,
	[MACV] [bigint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGACH]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGACH](
	[MANGACHLUONG] [bigint] NOT NULL,
	[TENNGACHLUONG] [nvarchar](250) NULL,
 CONSTRAINT [PK_NGACH] PRIMARY KEY CLUSTERED 
(
	[MANGACHLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGHIVIEC]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGHIVIEC](
	[MANGHIVIEC] [bigint] IDENTITY(1,1) NOT NULL,
	[MANV] [bigint] NULL,
	[SOQUYETDINH] [varchar](50) NULL,
	[NGAYQUYETDINH] [datetime] NULL,
	[NGUOIKY] [nvarchar](250) NULL,
	[CHUCVU] [nvarchar](250) NULL,
	[NGAYTHOIVIEC] [datetime] NULL,
	[LYDO] [nvarchar](250) NULL,
 CONSTRAINT [PK_NGHIVIEC] PRIMARY KEY CLUSTERED 
(
	[MANGHIVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MAND] [bigint] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[HOTEN] [nvarchar](250) NULL,
	[GHICHU] [nvarchar](250) NULL,
	[PHANQUYEN] [nvarchar](50) NULL,
	[PHONGBAN] [nvarchar](250) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [bigint] NULL,
	[HOTEN] [nvarchar](100) NULL,
	[HINHANH] [image] NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](255) NULL,
	[CMND] [varchar](9) NULL,
	[NGAYCAPCMND] [datetime] NULL,
	[NOICAPCMND] [nvarchar](255) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[TONGIAO] [nvarchar](50) NULL,
	[QUOCTICH] [nvarchar](50) NULL,
	[QUEQUAN] [nvarchar](255) NULL,
	[DIACHITHUONGTRU] [nvarchar](255) NULL,
	[NOIOHIENNAY] [nvarchar](255) NULL,
	[DIENTHOAI] [varchar](11) NULL,
	[EMAIL] [varchar](100) NULL,
	[MAPB] [bigint] NULL,
	[NGAYHOPDONG] [datetime] NULL,
	[NGAYTUYENDUNG] [datetime] NULL,
	[MATDHV] [bigint] NULL,
	[MATDNN] [bigint] NULL,
	[MATDTH] [bigint] NULL,
	[STATUS] [int] NULL,
	[MACV] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHATKY]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATKY](
	[MANK] [bigint] IDENTITY(1,1) NOT NULL,
	[MAND] [bigint] NULL,
	[NGAYDANGNHAP] [datetime] NULL,
 CONSTRAINT [PK_NHATKY] PRIMARY KEY CLUSTERED 
(
	[MANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [bigint] NULL,
	[TENPB] [nvarchar](255) NULL,
	[SONHANVIEN] [int] NULL,
	[GHICHU] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRINHDOHOCVAN]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDOHOCVAN](
	[MATDHV] [bigint] IDENTITY(1,1) NOT NULL,
	[TENTDHV] [nvarchar](250) NULL,
	[GHICHU] [nvarchar](250) NULL,
 CONSTRAINT [PK_TRINHDOHOCVAN] PRIMARY KEY CLUSTERED 
(
	[MATDHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRINHDONGOAINGU]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDONGOAINGU](
	[MATDNN] [bigint] IDENTITY(1,1) NOT NULL,
	[TENTDNN] [nvarchar](250) NULL,
 CONSTRAINT [PK_TRINHDONGOAINGU] PRIMARY KEY CLUSTERED 
(
	[MATDNN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRINHDOTINHOC]    Script Date: 16/03/2019 7:58:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDOTINHOC](
	[MATDTH] [bigint] IDENTITY(1,1) NOT NULL,
	[TENTDTH] [nvarchar](250) NULL,
 CONSTRAINT [PK_TRINHDOTINHOC] PRIMARY KEY CLUSTERED 
(
	[MATDTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
